@inherits LayoutComponentBase

<MudThemeProvider @ref="@_mudThemeProvider" @bind-IsDarkMode="@_isDarkMode"/>
<MudDialogProvider/>
<MudSnackbarProvider/>

<MudLayout>
    <MudAppBar>
        <MudIcon Icon="@Icons.Material.Outlined.CrisisAlert" />
        <h3 style="margin-left: 15px;">Alerts</h3>
        <MudSpacer/>
        <MudToggleIconButton
            @bind-Toggled="@_isDarkMode"
            Icon="@Icons.Material.Outlined.DarkMode" Title="Dark mode"
            ToggledIcon="@Icons.Material.Outlined.LightMode" ToggledTitle="Light mode"/>
    </MudAppBar>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    private bool _isDarkMode;
    private MudThemeProvider _mudThemeProvider = null!;
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            _isDarkMode = await _mudThemeProvider.GetSystemPreference();
            await _mudThemeProvider.WatchSystemPreference(OnSystemPreferenceChanged);
            StateHasChanged();
        }
    }
    
    private Task OnSystemPreferenceChanged(bool newValue)
    {
        _isDarkMode = newValue;
        StateHasChanged();
        return Task.CompletedTask;
    }
}